
* {
    margin: 0;
  }
  body {


       display: flex;
       text-align: center;
       justify-content: center;
        background-image: url("/cow.jpg");
       background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
     height: 100vh;    
  }
  
  table {
 background-color: rgb(230, 228, 228);
      color: black;
  }
  
  table tr {
      height: 50px;
    
      font-size: 1.5em;
      border: 2px solid ;
    }
    td:hover{
        background-color: black;
        color: white;
    }
    
    table tr td {
      border-radius: 60px;
  }
  
  .keys-2 {
      background-color:white;}

  .keys {
      background-color: 00212A ;   }
 
